body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 40px 0;
    padding: 0 40px;
}
.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.button-start {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    background-image: url(https://govuk-elements.herokuapp.com/public/images/icon-pointer.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 0.36842em 2.15789em 0.21053em 0.84211em;
}
/*Responsive grid*/
@media (min-width: 641px){
    .column-half, .column-one-half {
        float: left;
        width: 50%;
    }
}
/*help classes*/
.hide{display: none}
.m2{margin-bottom: 2rem}